<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li>Welcome <%= current_user.first_name %>!</li>
        <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to 'Sign In', new_session_path %></li>
      <% end %>

    </ul>
  </nav>

  <%= notice %>
  <%= yield %>

</body>
</html>
